{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <p>Title : {{book.title}}</p>
    <p>Current Rating : {{book.rating}}</p>
    <form action={{ url_for('edit', id=book.id) }} name="new_rating_form" id="contactForm" novalidate method="POST">
        <label for="rating">Rating</label>
        <input name="rating" id="rating" placeholder="{{book.rating}}" type="number">
        <button type="submit">Send</button>
    </form>
</body>
</html>