{% extends 'bootstrap/base.html' %} {% block title %}Restaurants{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table">
        <tr>
          {% for head in cafes[0] %}
          <th>{{head}}</th>
          {% endfor %}
        </tr>
        {% for cafe in cafes[1:] %}
        <tr>
          {% for info in cafe %}
            {% if loop.index==2 %}
              <td><a href="{{info}}">Maps Link</a></td>
            {% else %}
              <td>{{info}}</td>
            {% endif %}
          <!-- <td>{{info}}</td> -->
          {% endfor%}
        </tr>
        {% endfor%}
      </table>

      <p><a href="#">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
