<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form page</title>
</head>
<body>
  <h1>Login</h1>
  <div>
    <form method="POST" action="{{url_for('login')}}" novalidate>
      {{ form.csrf_token }}
      <p>
        {{ form.email.label }} <br> {{ form.email(size=30) }}
        {% for err in form.email.errors %}
        <span style="color:red">{{ err }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }} <br> {{ form.password(size=30) }}
        {% for err in form.password.errors %}
        <span style="color:red">{{ err }}</span>
        {% endfor %}
      </p>
      <!-- <input type="submit" value="Login"> -->
      {{ form.submit }}
    </form>      
  </div>
</body>
</html>